.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #cad2c5;
}

.title-row {
  background-color: #353535;
  padding: 10px 10px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.title {
  color: white;
  font-weight: 800;
  font-size: larger;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.left-box {
  height: 500px;
  width: 300px;
  background-color: #353535;
  margin: 40px 40px 40px 40px;
  border-radius: 20px;
}

.search {
  background-color: #353535;
  text-align: start;
  color: #fff;
  padding: 10px;
  height: 50px;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.center-row {
  justify-content: space-around;
}

.center-box {
  background-color: #353535;
  height: 150px;
  width: 200px;
  border-radius: 15px;
}
.bottom-row {
  margin: 30px 30px 30px 30px;
}

.bottom-box {
  background-color: #353535;
  height: 180px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
}
